# Ignore .git folder
.git*
.gitignore

.circleci*
docs*
vendor*
test*

antivir-workstation-pers-3.1.3.5-0*
avira_fusebundlegen-linux_glibc22-en*
scancl-1.9.161.2*

*.md
*.md.bu
*.old
LICENSE
Makefile
# *.key
avira_fusebundlegen-linux_glibc22-en.zip
scancl-linux_glibc22.tar.gz
unattended.inf
run.sh
