# Ignore .git folder
.git*
.gitignore

.circleci*
docs*
tests*

README.md
README.md.bu
LICENSE
CHANGELOG.md
Makefile
NOTES.md
# *.key
avira_fusebundlegen-linux_glibc22-en.zip
scancl-linux_glibc22.tar.gz
unattended.inf
run.sh
