# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/
scancl-1.9.161.2/
avira_fusebundlegen-linux_glibc22-en/
antivir-workstation-pers-3.1.3.5-0/
antivir_workstation-pers.tar.gz
*.key
